* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Proxima Nova", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4 {
  font-family: "Brandon Grotesque", "Montserrat", Helvetica, Arial, sans-serif;
}