.header {
    background-color: #282c34;
    color: white;
}

.header-layout {
    margin: 0 auto;
    width: 80%;
    height: 4rem;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.logo {
    height: 2rem;
    margin-right: .5rem;
}

.nav-bar {
    list-style: none;
    justify-self: end;
}

.nav-bar > li {
    display: inline-block;
    min-width: 4rem;
    text-align: right;
    margin-left: 1rem;
}
