.main {
  padding: 2rem 0;
  background-color: #f0f0f0;
}

.content {
  margin: 0 auto;
  padding: 1rem;
  width: 80%;
  background-color: #fff;
}

.grid-col-2 {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-content: space-between;
}

.account-summary {
  padding: 1rem;
  background: mediumseagreen;
}

.statement-summary {
  padding: 1rem;
  background: coral;
}

.transactions {
  padding: 1rem;
  background: dodgerblue;
}